.boton_1{
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: helvetica;
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
    color:cyan;
    background-color: gray;
    border-radius: 15px;
    border: 1px dodgerblue;

 }
 .boton_1:hover{
     opacity: 0.6;
     text-decoration: none;
 }